$about-padding: 169px

.about
  height: 100vh
  width: 100vw
  padding: $about-padding
  position: relative

.about__image
  height: 600px
  width: 400px
  background: #c4c4c4
  position: absolute
  right: calc(50% + 64px)
  top: calc(50% - 300px)

.about__image-background
  height: 600px
  width: 400px
  background: #2b2b2b
  position: absolute
  right: calc(50% + 32px)
  top: calc(50% - 300px + 32px)
  z-index: -1

.about__text
  position: absolute
  left: calc(50vw + 32px)
  top: 50%
  transform: translateY(-50%)
  width: 400px

.about__header
  font-size: 60px
  font-weight: 100
  margin-bottom: 0

.about__hr
  margin-bottom: 32px

.about__paragraph
  font-size: 18px
  font-weight: 300