@import '../config/_animations'
  
.expanded-nav
  position: absolute
  height: 100vh
  width: 100vw
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden

.expanded-nav__background
  position: absolute
  top: 0
  right: 0
  background: #2b2b2b
  transform: translate(50%, -50%)
  height: 1px
  width: 1px
  border-radius: 50%
  transition: height 0.5s, width 0.5s
  z-index: 2

.expanded-nav.active
  .expanded-nav__background
    height: 6000px
    width: 6000px
  .expanded-nav__links
    transform: translateY(0)
  .expanded-nav__link
    visibility: visible
  .expanded-nav__link:nth-of-type(1)
    animation: 0.3s fadeRight forwards 0.2s
  .expanded-nav__link:nth-of-type(2)
    animation: 0.3s fadeRight forwards 0.4s
  .expanded-nav__link:nth-of-type(3)
    animation: 0.3s fadeRight forwards 0.6s
  .expanded-nav__link:nth-of-type(4)
    animation: 0.3s fadeRight forwards 0.8s
  .expanded-nav__link:nth-of-type(5)
    animation: 0.3s fadeRight forwards 1s

.expanded-nav__links
  z-index: 3
  display: flex
  flex-direction: column
  align-items: center
  transform: translateY(-100vh)

.expanded-nav__link
  display: flex
  align-items: center
  justify-content: center
  color: white
  height: 50px
  width: 270px
  font-size: 32px
  font-weight: 100
  margin: 8px
  cursor: pointer
  transition: 0.3s background, 0.3s color
  opacity: 0
  visibility: hidden
  text-decoration: none

.expanded-nav__link:hover
  color: #2b2b2b
  background: white