.hero
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.hero__header
  font-size: 48px
  font-weight: 100
  margin: 0

.hero__scroll
  font-size: 32px
  font-weight: 100