.nav
  width: 100vw
  display: flex
  align-items: center
  justify-content: space-between
  padding: 36px 36px 0
  position: absolute
  top: 0
  left: 0
  right: 0

.nav__icon
  width: 36px

.nav__menu
  width: 36px
  height: 32px
  position: relative

.nav__bar
  height: 1px
  width: 32px
  background: #000000
  position: absolute

.nav__bar--1
  top: 0
  right: 0
  width: 50%

.nav__bar--2
  top: calc(50% - 1px)
  width: 100%

.nav__bar--3
  bottom: 0
  left: 0
  width: 50%